<div class="jumbo-home">
    <div class="jumbotron">
        <h1>Welcome to Bankoo!</h1>
        <div class="home">
            <p>
                <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
            </p>
        </div>
    </div>
</div>

<div class="center-panel">
    <div class="row" id="panel-h">
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Withdraw and Deposit Money</div>
                <div class="panel-body">
                    With us, your money is safe. Deposit and withdraw money securely without worries
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Transaction History</div>
                <div class="panel-body">
                    Keep track of every transaction you make. You can see when it happened and the amount of each transaction.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Investing</div>
                <div class="panel-body">
                    Coming Soon!
                </div>
            </div>
        </div>
    </div>
</div>
