<div class="jumbo-home">
    <div class="jumbotron">
        <h1>Welcome to Bankoo!</h1>
        <div class="home">
            <p>
                <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
            </p>
        </div>
    </div>
</div>

<div class="center-panel">
    <div class="row" id="panel-h">
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Heading</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Heading</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Heading</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="jumbotron">
        <%= render "layouts/footer" %>
    </div>
</footer>
