body .row {
    padding-top: 70px
}

body .jumbo-home {
    padding-top: 50px;
}

footer .jumbotron {
    height: 300px;
    background-color: #222;
    margin: 0 auto -155px;
}

/*JUMBOTRON CSS*/
.jumbotron p {
    padding-top: 20px
}

.jumbotron {
    /*background: linear-gradient(to bottom right, #1AD6FD, #1D62F0);*/
    background-color: #b21414;
    height: 500px;
    text-align: center;
    color: #fff;
    padding-top: 100px;
    width: 100%;
}

 div .home .btn-primary {
    color: #fff;
    background-color: rgba(2,82,198, 0);
}

.btn-lg, .btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}

.home .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    /*background-color: #083e7f;*/
    background-color: rgba(146,15,15,1);
    border-color: #760000;
}

.btn {
    border: 2px solid;
    border-radius: 0px;
}

/*NAVBAR CSS*/
.navbar-inverse .navbar-nav>li>a {
    color: #b21414;
}

.navbar-inverse .navbar-brand {
    color: #b21414;
}

.thumbnail {
    text-align: center;
    width: 70%;
    margin-left: 60px;
}

.btn-default {
    color: #b21414;
    border-color: #b21414;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open {
    border-color: #b21414;
}

.form-control {
    border-radius: 0px;
}

.panel-danger>.panel-heading {
    background-color: #b21414;
    color: white;
    text-align: center;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-color: #b21414;
}

.center-panel {
    padding-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    height: 600px;
    border-radius: 0px;
}

.panel-heading{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-color: #b21414;
}

.footer-links {
    color: #b21414;
}

li {
    margin-left: 300px;
    text-align: left;
    list-style-type: none;
}
