<div class="footer-links">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Contact Us</li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul>
                <li>Transactions</li>
                <li>Profile</li>
                <li>FAQ</li>
            </ul>
        </div>
        <!-- <div class="col-md-12">
            <p style="color:white; text-align:center">Bankoo</p>
        </div> -->
    </div>
</div>
